@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto Mono;
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f4f2ee;
    background-blend-mode: multiply;
    background-size: cover;
}

.main-header{
    width: 100%;
    color: white;
    background-color: white;
}

.main-header h1{
    text-align: center;
}

.main-footer{
    display: inline;
    background-color: black;
}

.footerImg{
    width: 3rem;
    height: 3rem;
}

.nav{
    border-bottom: 3px solid;
}


.nav li{
    display: inline;
}

.nav a{
    color: rgb(91, 91, 91);
    font-size: 2rem;
    padding: 1em;
    text-decoration:none; 
}

.nav a :hover{
    font-size: 2.1rem;
    color: black;
    font-weight: bold;
}

ul{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.back-to-top-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 129, 212,.4);
    border-radius: 3rem;
    padding:1.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.back-to-top-btn span{
    transition: 0.2s ease-out;
}

.back-to-top-btn:hover{
    background-color: rgba(55, 106, 173);
}

.back-to-top-btn span:hover{
    transform: translateY(-6px);
}

.typewriter-true-container{
    text-align: center;
}


.typewriter-box{
    display: inline-block;
    
}

.typewriter{
    font-size: 3rem;
    border-right: 2px solid;
    padding-right: 3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {width: 0}
}

#projects-section h1{
    text-align: center; 
    font-size: 5rem;
    letter-spacing: 1rem;
}

#aboutme-section h1{
    text-align: center; 
    font-size: 5rem;
    letter-spacing: 1rem;
}